<!-- Vertical Nav -->
<nav class="hk-nav hk-nav-light">
    <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i
            data-feather="x"></i></span></a>
    <div class="nicescroll-bar">
        <div class="navbar-nav-wrap">
            <ul class="navbar-nav flex-column">

            </ul>
            <hr class="nav-separator">
            <div class="nav-header">
                <span>Govnance & Control</span>
                <span>UI</span>
            </div>
            <ul class="navbar-nav flex-column">

                {% for group in request.user.groups.all %}
                {% if user.is_staff or group.name == 'with_auditing_rights' %}
                <li class="nav-item">
                    <a class="nav-link" href="/addgoverncontrol">
                        <span class="feather-icon"><i data-feather="plus-circle"></i></span>
                        <span class="nav-link-text">Make a Record</span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}

                <li class="nav-item">
                    <a class="nav-link link-with-badge" href="/governcontrolprojects">
                        <span class="feather-icon"><i data-feather="sliders"></i></span>
                        <span class="nav-link-text">G/c Projects</span>
                        <span class="badge badge-primary badge-pill"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/governcontrolissues">
                        <span class="feather-icon"><i data-feather="sliders"></i></span>
                        <span class="nav-link-text">G/c Issues</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/governcontrolrecommendations">
                        <span class="feather-icon"><i data-feather="sliders"></i></span>
                        <span class="nav-link-text">G/c Recommendations</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/governcontrolconsolidated">
                        <span class="feather-icon"><i data-feather="sliders"></i></span>
                        <span class="nav-link-text">G/C Consolidated </span>
                    </a>
                </li>
            </ul>
            <hr class="nav-separator">
            <div class="nav-header">
                <span>Risk Mgt</span>
                <span>UI</span>
            </div>
            <ul class="navbar-nav flex-column">
                {% for group in request.user.groups.all %}
                {% if user.is_staff or group.name == 'with_auditing_rights' %}
                <li class="nav-item">
                    <a class="nav-link" href="/addrisk" >
                        <span class="feather-icon"><i data-feather="plus-circle"></i></span>
                        <span class="nav-link-text">Create</span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}


                <li class="nav-item">
                    <a class="nav-link" href="/risks">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Risk Descriptions</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/riskcontrol">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Risk Control</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/keyrateindicator">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Key Rate Indicator</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/a_o_aconsolidated">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Consolidated</span>
                    </a>
                </li>
            </ul>
            <hr class="nav-separator">
            <div class="nav-header">
                <span>Audit of Internal Auditors</span>
                <span>UI</span>
            </div>
            <ul class="navbar-nav flex-column">
                {% for group in request.user.groups.all %}
                {% if user.is_staff or group.name == 'with_auditing_rights' %}
                <li class="nav-item">
                    <a class="nav-link" href="/addauditorsofauditors">
                        <span class="feather-icon"><i data-feather="plus-circle"></i></span>
                        <span class="nav-link-text">Make an Entry</span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}


                <li class="nav-item">
                    <a class="nav-link" href="/a_o_apractices">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Practices</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/a_o_arecommendations">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Recommendation & Actions</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/a_o_aconsolidated">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Consolidated</span>
                    </a>
                </li>
            </ul>


            <hr class="nav-separator">
<!--            <div class="nav-header">-->
<!--                <span>Auditing </span>-->
<!--                <span>GS</span>-->
<!--            </div>-->
        </div>
    </div>
</nav>
<div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
<!-- /Vertical Nav -->

