{% extends 'base.html' %}
{% block content %}


{% include 'topnavbar.html' %}
{% include 'verticalnavbar.html' %}
{% include 'settings.html' %}

<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Container -->
    <div class="container mt-xl-50 mt-sm-30 mt-15">
        <!-- Title -->
        <div class="hk-pg-header align-items-top">
            <h2 class="hk-pg-title font-weight-600 mb-10">Governance & Control Projects</h2>
            <p>
                {{request.user.username|upper}} Welcome to the
                <a href="#">Governance & Control.</a>
            </p>

        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row ">
            <div class="col-xl-12">
                <div class="hk-row">
                    <div class="col-sm-12">
                        <div class="card-group hk-dash-type-2">
                            <div class="card card-sm bg-dark-20 text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-white font-weight-500"
                            >Projects</span
                            >
                                        </div>
                                        <div>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div>
                          <span class="d-block display-4 text-red mb-5"
                          ><span class="counter-anim">{{consolidateddata|length}}</span></span
                          >
                                        <small class="d-block">Total Issues</small>
                                    </div>
                                </div>
                            </div>
                            <!--                            criticalit-->
                            <div class="card card-sm bg-dark text-white">
                                <div class="card-body ">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                                            <span class="d-block font-15 text-green font-weight-500">Low Criticality Issues : {{lowimpactissues}}</span>
                                        </div>
                                        <div>
                                            <span class="text-success font-14 font-weight-500"> </span>
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">High Criticality Issues:
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-danger counter-anim">{{highimpactissues}}</span></span></small>
                                        <small class="d-block text-warning">Moderate Criticality
                                            Issues:{{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>

                            <!--                            recomendation state-->
                            <div class="card card-sm bg-dark-20 text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-danger font-weight-500"
                            >Pending Recom'n : {{PENDING}}</span
                            >
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-green">Closed Recom'n :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-success counter-anim">{{CLOSED}}</span></span></small>
                                        <small class="d-block text-warning">Partially Completed : {{PARTIALLY_IMPLEMENTED}} </small>
                                    </div>
                                </div>
                            </div>


                            <!--                            ageing days-->
                            <div class="card card-sm bg-dark">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-info font-weight-500"
                            >Total Ageing Days : {{totaldays}}</span
                            >
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-info counter-anim">{{totaldays}}</span></span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">

                    {% if not consolidateddata %}
                    <section class="hk-sec-wrapper">
                        <h5 class="hk-sec-title">Audit Projects</h5>
                        <p class="text-danger" >No Data Available at the moment</p><br>

                        <!--                        <p class="mb-40">Use buttons: <code>['copy', 'csv', 'excel', 'pdf', 'print']</code> to add-->
                        <!--                            export table options.</p>-->
                        <div class="row">
                            <div class="col-sm">
                                <div class="table-wrap">
                                    <table id="datable_2"
                                           class="table table-hover table-responsive w-100 display pb-30">
                                        <thead>
                                        <tr>
                                            <!-- Audit Project Code,	Audit Project Name,	Quarter,	Audit Project Type,	Issue Title, -->


                                            <th>Audit Project Code</th>
                                            <th>Audit Project Name</th>
                                            <th>Quarter</th>
                                            <th>Audit Project Type</th>
                                            <th>Issue Title</th>
                                            <th>Recommendations</th>
                                            <th>Ageing Days</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for singleinfo in consolidateddata %}
                                        <tr>
                                            <td><a href="/governanceandcontrolprojects/{{singleinfo.id}}">{{singleinfo.audit_project_code}}</a></td>
                                            <td>{{singleinfo.audit_project_name}}</td>
                                            <td>{{singleinfo.quarter}}</td>
                                            <td>{{singleinfo.audit_project_type}}</td>
                                            <td>{{singleinfo.issue_title}}</td>
                                            <td>{{singleinfo.recommendation}}</td>
                                            <td>{{singleinfo.ageing_days}}</td>


                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% else %}
                    <section class="hk-sec-wrapper">
                        <h5 class="hk-sec-title">Governance and Control Projects</h5>
                        <p>Kindly export in the format of your choosing</p><br>

                        <!--                        <p class="mb-40">Use buttons: <code>['copy', 'csv', 'excel', 'pdf', 'print']</code> to add-->
                        <!--                            export table options.</p>-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-lg">
                                    <table id="datable_3"
                                           class="table table-hover table-responsive w-100 display pb-30">
                                        <thead>
                                        <tr>
                                            <th>Audit Project Code</th>
                                            <th>Audit Project Name</th>
                                            <th>Quarter</th>
                                            <th>Audit Project Type</th>
                                            <th>Issue Title</th>
                                            <th>Recommendations</th>
                                            <th>Ageing Days</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for singleinfo in consolidateddata %}
                                        <tr>
                                            <td><a href="/governanceandcontrolprojects/{{singleinfo.id}}" class="text-dark">{{singleinfo.audit_project_code}}</a></td>
                                            <td>{{singleinfo.audit_project_name}}</td>
                                            <td>{{singleinfo.quarter}}</td>
                                            <td>{{singleinfo.audit_project_type}}</td>
                                            <td>{{singleinfo.issue_title}}</td>
                                            <td>{{singleinfo.recommendation}}</td>
                                            <td>{{ singleinfo.agreed_implementation_date|timeuntil:todaysDate }}</td>


                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>

                    {% endif %}


                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->

        </div>
        <!-- /Main Content -->
        {% include 'verticalnavbar.html' %}

        {% endblock %}

