{% extends 'base.html' %}
{% block content %}


{% include 'topnavbar.html' %}
{% include 'verticalnavbar.html' %}
{% include 'settings.html' %}

<!-- audit_project_code = models.URLField(db_column='Audit_Project_Code', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    audit_project_name = models.CharField(db_column='Audit_Project_Name', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    quarter = models.CharField(db_column='Quarter',choices=QUARTERS ,max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    audit_project_type = models.CharField(db_column='Audit_Project_Type', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    issue_title = models.CharField(db_column='Issue_Title', max_length=50, blank=False, null=True)  # Field name made lowercase.-->
<!--    criticality = models.CharField(db_column='Criticality', max_length=20, blank=False, null=True,choices=CRITICAL_LEVELS,default='draft')  # Field name made lowercase.-->
<!--    root_cause_analysis = models.CharField(db_column='Root_Cause_Analysis',choices=ROOT_CAUSE_ANALYSIS ,max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    recommendation = models.CharField(db_column='Recommendation', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    action_plan = models.CharField(db_column='Action_Plan', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    recommendation_state = models.CharField(db_column='Recommendation_State', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    agreed_implementation_date = models.DateField(db_column='Agreed_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    revised_implementation_date = models.DateField(db_column='Revised_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    last_status_update = models.DateField(db_column='Last_Status_Update', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    ageing_days = models.FloatField(db_column='Ageing__Days',max_length=10, blank=False, null=True)  # Field name made lowercase. Field renamed because it contained more than one '_' in a row.-->
<!--    actual_implementation_date = models.DateField(db_column='Actual_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    owner = models.CharField(db_column='Owner', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    final_approver = models.CharField(db_column='Final_Approver', max_length=100, blank=False, null=True)  # Field name made lowercase.-->


<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Container -->
    <div class="container mt-xl-50 mt-sm-30 mt-15">
        <!-- Title -->
        <div class="hk-pg-header align-items-top">
            <h2 class="hk-pg-title font-weight-600 mb-10">DashBoard</h2>
            <p>
                {{gncobj.user}}Welcome to the
                <a href="#">Auditing Tool Dashboard</a>
            </p>
            <div class="d-flex w-500p">

                <select class="form-control custom-select custom-select-sm mr-15">
                    {% for singleinfo in gncojbects %}
                    <option selected="">{{ singleinfo.audit_project_name | upper}}</option>
                    {% endfor %}

                </select>
                <select class="form-control custom-select custom-select-sm mr-15">
                    {% for singleinfo in gncojbects %}
                    <option selected="">{{ singleinfo.criticality | upper}}</option>
                    {% endfor %}
                </select>
                <select class="form-control custom-select custom-select-sm">
                    {% for singleinfo in gncojbects %}
                    <option selected="">{{ singleinfo.quarter | upper}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="hk-row">
                    <div class="col-sm-12">

                        <div class="card-group hk-dash-type-2">
                            <div class="card card-sm bg-dark-20 text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-white font-weight-500"
                            >G&Control</span
                            >
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                    <div>
                          <span class="d-block display-4 text-red mb-5"
                          ><span class="counter-anim">{{ gncobjnumber }}</span></span
                          >
                                        <small class="d-block">Audit Project{{ gncobjnumber|pluralize:"s" }}</small>
                                    </div>
                                </div>
                            </div>
                            <!--                            criticalit-->
                            <div class="card card-sm bg-dark text-white">
                                <div class="card-body ">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-green font-weight-500"
                            >Low Criticality Issues : {{lowimpactissues}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-danger font-14 font-weight-500"
                            >{{highimpactissues}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">High Criticality Issues:
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-danger counter-anim">{{highimpactissues}}</span></span></small>
                                        <small class="d-block text-warning">Moderate Criticality
                                            Issues:{{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>

                            <!--                            recomendation state-->
                            <div class="card card-sm bg-dark-20 text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-danger font-weight-500"
                            >Pending Recom'n : {{PARTIALLY_IMPLEMENTED}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >{{ percentagecompleted}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-green">Closed Recom'n :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-success counter-anim">{{CLOSED}}</span></span></small>
                                        <small class="d-block">Partially Completed : {{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>


                            <!--                            ageing days-->
                            <div class="card card-sm bg-dark">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-info font-weight-500"
                            >Total Ageing Days : {{totaldays}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >{{ percentagecompleted}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">Total Ageing Days :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-info counter-anim">{{totaldays}}</span></span></small>
                                        <small class="d-block">Partially Completed : {{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--risk Management-->
                        <div class="card-group hk-dash-type-2 ">
                            <div class="card card-sm bg-dark-80 text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-white font-weight-500"
                            >Risk Management</span
                            >
                                        </div>
                                        <div>
                                            <!--                                            <span>10%</span>-->
                                        </div>
                                    </div>
                                    <div>
                          <span class="d-block display-4 text-white mb-5"
                          ><span class="counter-anim">{{consolidateddata|length}}</span></span
                          >
                                        <small class="d-block">Total Risks</small>
                                    </div>
                                </div>
                            </div>
                            <!--                            Impact-->
                            <div class="card card-sm bg-dark-20">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-danger font-weight-500"
                            >Low Impact : {{risklowimpactissues}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-danger font-14 font-weight-500"
                            ></span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">High Impact :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-danger counter-anim">{{riskhighimpactissues}}</span></span></small>
                                        <small class="d-block text-danger">Moderate Impact
                                            :{{riskmediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>
                            <!--                            Likelihood-->
                            <div class="card card-sm bg-dark-80 text-white">
                                <div class="card-body ">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-white font-weight-500"
                            >Low Chances : {{risklikelihoodlow}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            ></span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">High Chances :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-white counter-anim">{{risklikelihoodhigh}}</span></span></small>
                                        <small class="d-block text-white">Moderate Chances
                                            :{{risklikelihoodmoderate}} </small>
                                    </div>
                                </div>
                            </div>

                            <!--                            recomendation state-->
                            <div class="card card-sm bg-dark-20 text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-warning font-weight-500"
                            >XY Strategic pillar : {{riskobjnumber}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            ></span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">XY Strategic pillar :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-info counter-anim">{{CLOSED}}</span></span></small>
                                        <small class="d-block">Risk Categories : {{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>


                            <!--                            ageing days-->
                            <div class="card card-sm bg-dark-80 text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-white font-weight-500"
                            ></span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >{{ percentagecompleted}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">Affected Depts :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-info counter-anim">{{}}</span></span></small>
                                        <small class="d-block">Adequate Control : {{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="hk-row">
                        <div class="col-lg-6">

                            <div class="card">
                                <div class="card-header card-header-action">
                                    <h6>Governance and Control Summary</h6>
                                    <div class="d-flex align-items-center card-action-wrap">
                                        <a href="#" class="inline-block refresh mr-15">
                                            <i class="ion ion-md-arrow-down"></i>
                                        </a>
                                        <a href="#" class="inline-block full-screen">
                                            <i class="ion ion-md-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body pa-0 full-screen mr-15">

                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-hover mb-0">
                                                <thead>
                                                <tr>
                                                    <th class="w-25">Project Id</th>
                                                    <th>Project name</th>
                                                    <th>Quarter</th>
                                                    <th> Criticality</th>
                                                    <th>Ageing Days</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for singleinfo in gncojbects %}

                                                <tr>
                                                    <td><a href="{{ singleinfo.audit_project_code }}">
                                                        {{singleinfo.id}}</a></td>
                                                    <td>{{ singleinfo.audit_project_name}}</td>
                                                    <td>{{ singleinfo.quarter}}</td>
                                                    <td>{{ singleinfo.criticality}}</td>
                                                    <td>{{ singleinfo.ageing_days}}</td>
                                                </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header card-header-action">
                                    <h6>Risk Mangement Summary </h6>
                                    <div class="d-flex align-items-center card-action-wrap">
                                        <a href="#" class="inline-block refresh mr-15">
                                            <i class="ion ion-md-arrow-down"></i>
                                        </a>
                                        <a href="#" class="inline-block full-screen">
                                            <i class="ion ion-md-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body pa-0 full-screen mr-15">

                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-hover mb-0">
                                                <thead>
                                                <tr>
                                                    <th>XY Strategic Pillar</th>
                                                    <th>XY Strategic Objectives</th>
                                                    <th>Risk Category</th>
                                                    <th>Risk Description</th>
                                                    <th>Likelihood</th>
                                                    <th>Impact</th>
                                                    <th>Risk Rating</th>
                                                    <th>Department</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                {% for singleinfo in riskobj %}
                                                <tr>
                                                <tr>
                                                    <td><a href="#">{{singleinfo.xy_strategic_pillar}}</a></td>
                                                    <td>{{singleinfo.xy_strategic_objectives}}</td>
                                                    <td>{{singleinfo.risk_category}}</td>
                                                    <td>{{singleinfo.risk_description}}</td>
                                                    <td>{{singleinfo.likelihood}}</td>
                                                    <td>{{singleinfo.impact}}</td>
                                                    <td>{{singleinfo.risk_rating}}</td>
                                                    <td>{{singleinfo.dept}}</td>
                                                    <!--                                            xy_strategic_pillar = models.CharField(db_column='XY_Strategic_Pillar', max_length=100, blank=True,null=True)  # Field name made lowercase.-->
                                                    <!--    xy_strategic_objectives = models.CharField(db_column='XY_Strategic_Objectives', max_length=100, blank=True,null=True)  # Field name made lowercase.-->
                                                    <!--    risk_category = models.CharField(db_column='Risk_Category', max_length=100, blank=True,choices=RISK_CATEGORY,null=True)  # Field name made lowercase.-->
                                                    <!--    risk_description = models.CharField(db_column='Risk_Description', max_length=100, blank=True,null=True)  # Field name made lowercase.-->
                                                    <!--    likelihood = models.CharField(db_column='Likelihood', max_length=100, blank=True,choices=LIKELIHOOD,null=True)  # Field name made lowercase.-->
                                                    <!--    impact = models.CharField(db_column='Impact', max_length=100, blank=True, null=True,choices=IMPACT_LEVELS)  # Field name made lowercase.-->
                                                    <!--    risk_rating = models.CharField(db_column='Risk_Rating', max_length=100, blank=True,choices=RATE_LEVELS,null=True)  # Field name made lowercase.-->
                                                    <!--    control_exists_yesno = models.CharField(db_column='Control_Exists_YesNo', max_length=100, blank=True,choices=CONTROL_EXISTANCE, null=True)  # Field name made lowercase.-->
                                                    <!--    control_description = models.CharField(db_column='Control_Description', max_length=100, blank=True,null=True)  # Field name made lowercase.-->
                                                    <!--    control_is_adequate_yesno = models.CharField(db_column='Control_is_Adequate_YesNo', max_length=100, blank=True ,choices=CONTROL_EXISTANCE,null=True)  # Field name made lowercase.-->
                                                    <!--    recommended_control = models.CharField(db_column='Recommended_Control', max_length=100, blank=True,null=True)  # Field name made lowercase.-->
                                                    <!--    action = models.CharField(db_column='Action', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
                                                    <!--    kri = models.CharField(db_column='KRI', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
                                                    <!--    target = models.CharField(db_column='Target', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
                                                    <!--    dept = models.ForeignKey('accounts.Dept', on_delete=models.CASCADE) # Field name made lowercase.-->


                                                </tr>
                                                </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hk-row">
                        <div class="col-lg-6">

                            <div class="card">
                                <div class="card-header card-header-action">
                                    <h6></h6>
                                    <div class="d-flex align-items-center card-action-wrap">
                                        <a href="#" class="inline-block refresh mr-15">
                                            <i class="ion ion-md-arrow-down"></i>
                                        </a>
                                        <a href="#" class="inline-block full-screen">
                                            <i class="ion ion-md-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body pa-0 full-screen mr-15">

                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-hover mb-0">
                                                <thead>
                                                <tr>
                                                    <th class="w-25">Project Id</th>
                                                    <th>Project name</th>
                                                    <th>Quarter</th>
                                                    <th> Criticality</th>
                                                    <th>Ageing Days</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for singleinfo in gncojbects %}

                                                <tr>
                                                    <td><a href="{{ singleinfo.audit_project_code }}">
                                                        {{singleinfo.id}}</a></td>
                                                    <td>{{ singleinfo.audit_project_name}}</td>
                                                    <td>{{ singleinfo.quarter}}</td>
                                                    <td>{{ singleinfo.criticality}}</td>
                                                    <td>{{ singleinfo.ageing_days}}</td>
                                                </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header card-header-action">
                                    <h6></h6>
                                    <div class="d-flex align-items-center card-action-wrap">
                                        <a href="#" class="inline-block refresh mr-15">
                                            <i class="ion ion-md-arrow-down"></i>
                                        </a>
                                        <a href="#" class="inline-block full-screen">
                                            <i class="ion ion-md-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body pa-0 full-screen mr-15">

                                    <div class="table-wrap">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-hover mb-0">
                                                <thead>
                                                <tr>
                                                    <th class="w-25">Project Id</th>
                                                    <th>Project name</th>
                                                    <th>Quarter</th>
                                                    <th> Criticality</th>
                                                    <th>Ageing Days</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for singleinfo in gncojbects %}

                                                <tr>
                                                    <td><a href="{{ singleinfo.audit_project_code }}">
                                                        {{singleinfo.id}}</a></td>
                                                    <td>{{ singleinfo.audit_project_name}}</td>
                                                    <td>{{ singleinfo.quarter}}</td>
                                                    <td>{{ singleinfo.criticality}}</td>
                                                    <td>{{ singleinfo.ageing_days}}</td>
                                                </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="col-xl-12">
                        <section class="hk-sec-wrapper">
                            <h5 class="hk-sec-title">Audit Projects</h5>
                            <p>Kindly export in the format of your choosing</p><br>

                            <!--                        <p class="mb-40">Use buttons: <code>['copy', 'csv', 'excel', 'pdf', 'print']</code> to add-->
                            <!--                            export table options.</p>-->
                            <div class="row">
                                <div class="col-sm">
                                    <div class="table-wrap">
                                        <table id="datable_3"
                                               class="table table-hover table-responsive w-100 display pb-30">
                                            <thead>
                                            <tr>
                                                <!-- Audit Project Code,	Audit Project Name,	Quarter,	Audit Project Type,	Issue Title, -->


                                                <th>Audit Project Code</th>
                                                <th>Audit Project Name</th>
                                                <th>Quarter</th>
                                                <th>Audit Project Type</th>
                                                <th>Issue Title</th>
                                                <th>Recommendations</th>
                                                <th>Ageing Days</th>
                                            </tr>
                                            </thead>
                                            <!--    action_plan = models.CharField(db_column='Action_Plan', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
                                            <!--    recommendation_state = models.CharField(db_column='Recommendation_State', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
                                            <!--    agreed_implementation_date = models.DateField(db_column='Agreed_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
                                            <!--    revised_implementation_date = models.DateField(db_column='Revised_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
                                            <!--    last_status_update = models.DateField(db_column='Last_Status_Update', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
                                            <!--    ageing_days = models.FloatField(db_column='Ageing__Days',max_length=10, blank=False, null=True)  # Field name made lowercase. Field renamed because it contained more than one '_' in a row.-->
                                            <!--    actual_implementation_date = models.DateField(db_column='Actual_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
                                            <!--    owner = models.CharField(db_column='Owner', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
                                            <!--    final_approver = models.CharField(db_column='Final_Approver', max_length=100, blank=False, null=True)  # Field name made lowercase.-->

                                            <tbody>
                                            {% for singleinfo in highimpactprojects %}
                                            <tr>
                                                <td><a href="#">{{singleinfo.audit_project_code}}</a></td>
                                                <td><a href="#">{{singleinfo.audit_project_name}}</a></td>
                                                <td><a href="#">{{singleinfo.quarter}}</a></td>
                                                <td><a href="#">{{singleinfo.audit_project_type}}</a></td>
                                                <td><a href="#">{{singleinfo.issue_title}}</a></td>
                                                <td><a href="#">{{singleinfo.recommendation}}</a></td>
                                                <td><a href="#">{{singleinfo.ageing_days}}</a></td>


                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Audit Project Code</th>
                                                <th>Audit Project Name</th>
                                                <th>Quarter</th>
                                                <th>Audit Project Type</th>
                                                <th>Issue Title</th>
                                                <th>Recommendations</th>
                                                <th>Ageing Days</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>


                <!-- /Row -->
            </div>
            <!-- /Container -->

        </div>
        <!-- /Main Content -->
        {% include 'verticalnavbar.html' %}

        {% endblock %}

