{% extends 'base.html' %}
{% block content %}


{% include 'topnavbar.html' %}
{% include 'verticalnavbar.html' %}
{% include 'settings.html' %}


<script>

    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [{{lowimpactissues}},{{mediumimpactissues}},{{highimpactissues}},],
          backgroundColor: [
             '#22af47', '#ffbf36', '#f83f37'
          ],
          label: 'Governance and Control Issues Criticality'
        }],
        labels: ["Low Impact","Medium Impact","High Impact"]
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {

      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);


    };


</script>


<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Container -->
    <div class="container mt-xl-50 mt-sm-30 mt-15">
        <!-- Title -->
        <div class="hk-pg-header align-items-top">
            <h2 class="hk-pg-title font-weight-600 mb-10">Risk Control </h2>
            <p>
                {{request.user.username|upper}} Welcome to the
                <a href="#">Risk Control Section.</a>
            </p>

        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row ">
            <div class="col-xl-12">
                <div class="hk-row">
                    <div class="col-xl-8">
                        <div class="card-group hk-dash-type-2">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-dark font-weight-500"
                            >Risks</span
                            >
                                        </div>
                                        <div>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div>
                          <span class="d-block display-4 text-dark mb-5"
                          ><span class="counter-anim">{{consolidateddata|length}}</span></span
                          >
                                        <small class="d-block">Total Risks</small>
                                    </div>
                                </div>
                            </div>
                            <!--                            Impact-->
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-success font-weight-500"
                            >Low Impact : {{ lowimpactissues }}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            ></span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-danger font-14">High Impact :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-danger counter-anim">{{ highimpactissues }}</span></span></small>
                                        <small class="d-block text-warning">Moderate Impact
                                            :{{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>
                            <!--                            Likelihood-->
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-success font-weight-500"
                            >Low Likelihood To Occur : {{lowimpactissues}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-danger">High Likelihood To Occur :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-danger counter-anim">{{highimpactissues}}</span></span></small>
                                        <small class="d-block text-warning">Moderate Likelihood To Occur
                                            :{{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-sm-4" >
                            <!--                            recomendation state-->
                            <div class="card">
                                <div class="card-body">
                                    <canvas id="pie-chart"></canvas>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <section class="hk-sec-wrapper">
                        <h5 class="hk-sec-title">Risk Controls</h5>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table id="datable_3"
                                           class="table table-hover table-responsive w-100 display">

                                        <thead>

                                        <tr>
                                            <th>XY Strategic Pillar</th>
                                            <th>Control Exists (Yes/No)</th>
                                            <th>Recommended Control</th>
                                            <th>Control Description</th>
                                            <th>Control is Adequate (Yes/No)</th>
                                            <th>Action</th>
                                        </tr>

                                        </thead>

                                        <tbody>
                                        {% for singleinfo in consolidateddata %}
                                        <tr>
                                            <td><a href="/risk/{{singleinfo.id}}">{{singleinfo.xy_strategic_pillar}}</a>
                                            </td>
                                            <td>{{singleinfo.control_exists_yesno}}</td>
                                            <td>{{singleinfo.recommended_control}}</td>
                                            <td>{{singleinfo.control_description}}</td>
                                            <td>{{singleinfo.control_is_adequate_yesno}}</td>
                                            <td>{{singleinfo.action}}</td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>XY Strategic Pillar</th>
                                            <th>Control Exists (Yes/No)</th>
                                            <th>Recommended Control</th>
                                            <th>Control Description</th>
                                            <th>Control is Adequate (Yes/No)</th>
                                            <th>Action</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </section>

                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->

        </div>
        <!-- /Main Content -->
        {% include 'verticalnavbar.html' %}

        {% endblock %}

