{% extends 'base.html' %}
{% block content %}


{% include 'topnavbar.html' %}
{% include 'verticalnavbar.html' %}
{% include 'settings.html' %}
<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Container -->
    <div class="container mt-xl-50 mt-sm-30 mt-15">
        <!-- Title -->
        <div class="hk-pg-header align-items-top">
            <h2 class="hk-pg-title font-weight-600 mb-10">Risks </h2>
            <p>
                {{request.user.username|upper}} Welcome to the
                <a href="#">Risks Section.</a>
            </p>
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row ">
            <div class="col-xl-12">
                <div class="hk-row">
                    <div class="col-sm-12">
                        <div class="card-group hk-dash-type-2">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-dark font-weight-500"
                            >Risks</span
                            >
                                        </div>
                                        <div>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div>
                          <span class="d-block display-4 text-dark mb-5"
                          ><span class="counter-anim">{{consolidateddata|length}}</span></span
                          >
                                        <small class="d-block">Total Risks</small>
                                    </div>
                                </div>
                            </div>
                            <!--                            Impact-->
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-warning font-weight-500"
                            >Low Impact : {{lowimpactissues}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            ></span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">High Impact :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-danger counter-anim">{{highimpactissues}}</span></span></small>
                                        <small class="d-block text-info">Moderate Impact
                                            :{{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>
                            <!--                            Likelihood-->
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-warning font-weight-500"
                            >Low Chances : {{lowimpactissues}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            ></span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">High Chances :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-danger counter-anim">{{highimpactissues}}</span></span></small>
                                        <small class="d-block text-info">Moderate Chances
                                            :{{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>

                            <!--                            recomendation state-->
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-warning font-weight-500"
                            >XY Strategic pillar : {{PARTIALLY_IMPLEMENTED}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >{{ percentagecompleted}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">XY Strategic pillar :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-info counter-anim">{{CLOSED}}</span></span></small>
                                        <small class="d-block">Risk Categories : {{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>


                            <!--                            ageing days-->
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-dark font-weight-500"
                            >Control Present : {{totaldays}}%</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >{{ percentagecompleted}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">Affected Depts :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-info counter-anim">{{totaldays}}</span></span></small>
                                        <small class="d-block">Adequate Control : {{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    {% if not consolidateddata %}
                    <section class="hk-sec-wrapper">
                        <h5 class="hk-sec-title">Risk Management Section</h5>
                        <p class="text-danger">No Data Available at the moment</p><br>

                        <div class="row">
                            <div class="col-sm">
                                <div class="table-wrap">
                                    <table id="datable_2"
                                           class="table table-hover table-responsive w-100 display pb-30">
                                        <!--XY Strategic Pillar,	XY Strategic Objectives,
                                            Risk Category,	Risk Description,	Likelihood,	Impact,	Risk Rating,-->
                                        <thead>

                                        <tr>
                                            <th>XY Strategic Pillar</th>
                                            <th>XY Strategic Objectives</th>
                                            <th>Risk Category</th>
                                            <th>Risk Description</th>
                                            <th>Likelihood</th>
                                            <th>Impact</th>
                                            <th>Risk Rating</th>
                                            <th>Department</th>
                                        </tr>

                                        </thead>
                                        <tbody>
                                        {% for singleinfo in consolidateddata %}
                                        <tr>
                                            <td><a href="#">{{singleinfo.xy_strategic_pillar}}</a></td>
                                            <td>{{singleinfo.xy_strategic_objectives}}</td>
                                            <td>{{singleinfo.risk_category}}</td>
                                            <td>{{singleinfo.risk_description}}</td>
                                            <td>{{singleinfo.likelihood}}</td>
                                            <td>{{singleinfo.risk_rating}}</td>
                                            <td>{{singleinfo.dept}}</td>

                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>XY Strategic Pillar</th>
                                            <th>XY Strategic Objectives</th>
                                            <th>Risk Category</th>
                                            <th>Risk Description</th>
                                            <th>Likelihood</th>
                                            <th>Impact</th>
                                            <th>Risk Rating</th>
                                            <th>Department</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% else %}
                    <section class="hk-sec-wrapper">
                        <h5 class="hk-sec-title">Risk Management Section</h5>

                        <div class="row">
                            <div class="col-sm">
                                <div class="table-wrap">
                                    <table id="datable_3"
                                           class="table table-hover table-responsive w-100 display pb-30">
                                        <!--XY Strategic Pillar,	XY Strategic Objectives,
                                            Risk Category,	Risk Description,	Likelihood,	Impact,	Risk Rating,-->
                                        <thead>

                                        <tr>
                                            <th>XY Strategic Pillar</th>
                                            <th>XY Strategic Objectives</th>
                                            <th>Risk Category</th>
                                            <th>Risk Description</th>
                                            <th>Likelihood</th>
                                            <th>Impact</th>
                                            <th>Risk Rating</th>
                                            <th>Department</th>
                                        </tr>


                                        </thead>

                                        <tbody>
                                        {% for singleinfo in consolidateddata %}
                                        <tr>
                                            <td><a href="#">{{singleinfo.xy_strategic_pillar}}</a></td>
                                            <td>{{singleinfo.xy_strategic_objectives}}</td>
                                            <td>{{singleinfo.risk_category}}</td>
                                            <td>{{singleinfo.risk_description}}</td>
                                            <td>{{singleinfo.action}}</td>
                                            <td>{{singleinfo.kri}}</td>
                                            <td>{{singleinfo.target}}</td>
                                            <td>{{singleinfo.dept}}</td>

                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>XY Strategic Pillar</th>
                                            <th>XY Strategic Objectives</th>
                                            <th>Risk Category</th>
                                            <th>Risk Description</th>
                                            <th>Likelihood</th>
                                            <th>Impact</th>
                                            <th>Risk Rating</th>
                                            <th>Department</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% endif %}

                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->

        </div>
        <!-- /Main Content -->
        {% include 'verticalnavbar.html' %}

        {% endblock %}

