{% load static %}
<html>
<head>
<!--    <title>{% block title %}{% endblock %}</title>-->

<!--    title-->
    <title>Auditing Tool</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'dist/img/mg.png' %}">
    <link rel="icon" href="{% static 'dist/img/mg.png' %}" type="image/x-icon">



    <!-- vector map CSS -->
    <link href="{% static 'vendors/vectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Toggles CSS -->
    <link href="{% static 'vendors/jquery-toggles/css/toggles.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css'%}" rel="stylesheet" type="text/css">

    <!-- Toastr CSS -->
    <link href="{% static 'vendors/jquery-toast-plugin/dist/jquery.toast.min.css'%}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">


    <!-- Data Table CSS -->
    <link href="{% static 'vendors/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'vendors/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <!-- Tablesaw table CSS -->
    <link
            href="{% static 'vendors/tablesaw/dist/tablesaw.css' %}"
            rel="stylesheet"
            type="text/css"
    />

    <!-- Toggles CSS -->
    <link
            href="{% static 'vendors/jquery-toggles/css/toggles.css' %}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css' %}"
            rel="stylesheet"
            type="text/css"
    />
</head>
<body>
<div id="content">

    <!-- HK Wrapper -->
    <div class="hk-wrapper hk-vertical-nav">

        {% block content %}

        {% endblock %}

    </div>
</div>

<!-- jQuery -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js'%}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js'%}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js'%}"></script>

<!-- Slimscroll JavaScript -->
<script src="{% static 'dist/js/jquery.slimscroll.js'%}"></script>

<!-- Fancy Dropdown JS -->
<script src="{% static 'dist/js/dropdown-bootstrap-extended.js'%}"></script>

<!-- FeatherIcons JavaScript -->
<script src="{% static 'dist/js/feather.min.js'%}"></script>

<!-- Toggles JavaScript -->
<script src="{% static 'vendors/jquery-toggles/toggles.min.js'%}"></script>
<script src="{% static 'dist/js/toggle-data.js'"></script>

<!-- Counter Animation JavaScript -->
<script src="{% static 'vendors/waypoints/lib/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'vendors/jquery.counterup/jquery.counterup.min.js'%}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static 'vendors/raphael/raphael.min.js'%}"></script>
<script src="{% static 'vendors/morris.js/morris.min.js'%}"></script>

<!-- EChartJS JavaScript -->
<script src="{% static 'vendors/echarts/dist/echarts-en.min.js'%}"></script>

<!-- Sparkline JavaScript -->
<script src="{% static 'vendors/jquery.sparkline/dist/jquery.sparkline.min.js'%}"></script>

<!-- Vector Maps JavaScript -->
<script src="{% static 'vendors/vectormap/jquery-jvectormap-2.0.3.min.js'%}"></script>
<script src="{% static 'vendors/vectormap/jquery-jvectormap-world-mill-en.js'%}"></script>
<script src="{% static 'dist/js/vectormap-data.js'%}"></script>

<!-- Owl JavaScript -->
<script src="{% static 'vendors/owl.carousel/dist/owl.carousel.min.js'%}"></script>

<!-- Toastr JS -->
<script src="{% static 'vendors/jquery-toast-plugin/dist/jquery.toast.min.js'%}"></script>

<!-- Init JavaScript -->
<script src="{% static 'dist/js/init.js'%}"></script>
<script src="{% static 'dist/js/dashboard-data.js'%}"></script>

<!-- Data Table JavaScript -->
<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dist/js/dataTables-data.js' %}"></script>

<!--toggle tables-->

<!-- Fancy Dropdown JS -->
<script src="{% static 'dist/js/dropdown-bootstrap-extended.js' %}"></script>

<!-- Tablesaw JavaScript -->
<script src="{% static 'vendors/tablesaw/dist/tablesaw.jquery.js' %}"></script>
<script src="{% static 'dist/js/tablesaw-data.js' %}"></script>

<!-- Toggles JavaScript -->
<script src="{% static 'vendors/jquery-toggles/toggles.min.js' %}"></script>
<script src="{% static 'dist/js/toggle-data.js' %}"></script>

<!-- Init JavaScript -->
<!--<script src="{% static 'dist/js/init.js' %}"></script>-->
<!-- Slimscroll JavaScript -->
<script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>

<!-- FeatherIcons JavaScript -->
<script src="{% static 'dist/js/feather.min.js' %}"></script>

</body>

</html>