{% load static %}

<!-- Setting Panel -->
<div class="hk-settings-panel">
    <div class="nicescroll-bar position-relative">
        <div class="settings-panel-wrap">
            <div class="settings-panel-head">
                <img class="brand-img d-inline-block align-top" src="{% static 'dist/img/logo-dar.png' %}" alt="Auditing Tool"/>
                <a href="javascript:void(0);" id="settings_panel_close" class="settings-panel-close"><span
                        class="feather-icon"><i data-feather="x"></i></span></a>
            </div>
            <hr>
            <h6 class="mb-5">Layout</h6>
            <hr>
            <h6 class="mb-5">Side Menu</h6>
            <p class="font-14">Menu comes in two modes: dark & light</p>
            <div class="button-list hk-nav-select mb-10">
                <button type="button" id="nav_light_select"
                        class="btn btn-outline-primary btn-sm btn-wth-icon icon-wthot-bg"><span
                        class="icon-label"><i class="fa fa-sun-o"></i> </span><span
                        class="btn-text">Light Mode</span></button>
                <button type="button" id="nav_dark_select"
                        class="btn btn-outline-light btn-sm btn-wth-icon icon-wthot-bg"><span class="icon-label"><i
                        class="fa fa-moon-o"></i> </span><span class="btn-text">Dark Mode</span></button>
            </div>
            <hr>
            <h6 class="mb-5">Top Menu</h6>
            <p class="font-14">Choose your liked color mode</p>
            <div class="button-list hk-navbar-select mb-10">
                <button type="button" id="navtop_light_select"
                        class="btn btn-outline-light btn-sm btn-wth-icon icon-wthot-bg"><span class="icon-label"><i
                        class="fa fa-sun-o"></i> </span><span class="btn-text">Light Mode</span></button>
                <button type="button" id="navtop_dark_select"
                        class="btn btn-outline-primary btn-sm btn-wth-icon icon-wthot-bg"><span
                        class="icon-label"><i class="fa fa-moon-o"></i> </span><span
                        class="btn-text">Dark Mode</span></button>
            </div>
            <hr>

            <button id="reset_settings" class="btn btn-primary btn-block btn-reset mt-30">Reset</button>
        </div>
    </div>
    <img class="d-none" src="dist/img/logo-light.png" alt="brand"/>
    <img class="d-none" src="dist/img/logo-dark.png" alt="brand"/>
</div>
<!-- /Setting Panel -->