<!-- Vertical Nav -->
<nav class="hk-nav hk-nav-light">
    <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i
            data-feather="x"></i></span></a>
    <div class="nicescroll-bar">
        <div class="navbar-nav-wrap">
            <ul class="navbar-nav flex-column">
                <li class="nav-item active">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#dash_drp">
                        <span class="feather-icon"><i data-feather="activity"></i></span>
                        <span class="nav-link-text">Resources</span>
                    </a>
                    <ul id="dash_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">

                                <li class="nav-item">
                                    <a class="nav-link" href="dashboard2.html">Company Goals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="dashboard3.html">Financial Quarter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="dashboard3.html">Employees</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="dashboard4.html">Department</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="dashboard5.html">Policies</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="dashboard5.html">Leaders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="dashboard5.html">File Manager</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#pages_drp">
                        <span class="feather-icon"><i data-feather="file-text"></i></span>
                        <span class="nav-link-text">Profile Management</span>
                    </a>
                    <ul id="pages_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="profile.html">Leaders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="invoice.html">Employees</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="gallery.html">Users</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr class="nav-separator">
            <div class="nav-header">
                <span>Govnance, Control</span>
                <span>UI</span>
            </div>
            <ul class="navbar-nav flex-column">

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse"
                       data-target="#Components_drp">
                        <span class="feather-icon"><i data-feather="plus-circle"></i></span>
                        <span class="nav-link-text">Make a Record</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link link-with-badge" href="/auditprojects">
                        <span class="feather-icon"><i data-feather="sliders"></i></span>
                        <span class="nav-link-text">Audit Projects</span>
                        <span class="badge badge-primary badge-pill">4</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#auth_drp">
                        <span class="feather-icon"><i data-feather="sliders"></i></span>
                        <span class="nav-link-text">Audit Issues</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#pages_drp">
                        <span class="feather-icon"><i data-feather="sliders"></i></span>
                        <span class="nav-link-text">Recommendations</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#pages_d">
                        <span class="feather-icon"><i data-feather="sliders"></i></span>
                        <span class="nav-link-text">Consolidated G/C</span>
                    </a>
                </li>
            </ul>
            <hr class="nav-separator">
            <div class="nav-header">
                <span>Risk Mgt</span>
                <span>UI</span>
            </div>
            <ul class="navbar-nav flex-column">

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse"
                       data-target="#Components_drp">
                        <span class="feather-icon"><i data-feather="plus-circle"></i></span>
                        <span class="nav-link-text">Make a Record</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse"
                       data-target="#Components_drp">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Risk Descriptions</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse"
                       data-target="#Components_drp">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Risk Control</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse"
                       data-target="#content_drp">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">KRI</span>
                    </a>
                </li>
            </ul>
            <hr class="nav-separator">
            <div class="nav-header">
                <span>Audit of Internal Auditors</span>
                <span>UI</span>
            </div>
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse"
                       data-target="#Components_drp">
                        <span class="feather-icon"><i data-feather="plus-circle"></i></span>
                        <span class="nav-link-text">Make a Record</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse"
                       data-target="#Components_drp">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Practices</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse"
                       data-target="#Components_drp">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Recommendation & Actions</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse"
                       data-target="#Components_drp">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Consolidated</span>
                    </a>
                </li>
            </ul>


            <hr class="nav-separator">
            <div class="nav-header">
                <span>Auditing </span>
                <span>GS</span>
            </div>
        </div>
    </div>
</nav>
<div id="hk_nav_backdrop" class="hk-nav-backdrop"></div>
<!-- /Vertical Nav -->

