{% extends 'base.html' %}
{% block content %}


{% include 'topnavbar.html' %}
{% include 'verticalnavbar.html' %}
{% include 'settings.html' %}

<!-- audit_project_code = models.URLField(db_column='Audit_Project_Code', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    audit_project_name = models.CharField(db_column='Audit_Project_Name', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    quarter = models.CharField(db_column='Quarter',choices=QUARTERS ,max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    audit_project_type = models.CharField(db_column='Audit_Project_Type', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    issue_title = models.CharField(db_column='Issue_Title', max_length=50, blank=False, null=True)  # Field name made lowercase.-->
<!--    criticality = models.CharField(db_column='Criticality', max_length=20, blank=False, null=True,choices=CRITICAL_LEVELS,default='draft')  # Field name made lowercase.-->
<!--    root_cause_analysis = models.CharField(db_column='Root_Cause_Analysis',choices=ROOT_CAUSE_ANALYSIS ,max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    recommendation = models.CharField(db_column='Recommendation', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    action_plan = models.CharField(db_column='Action_Plan', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    recommendation_state = models.CharField(db_column='Recommendation_State', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    agreed_implementation_date = models.DateField(db_column='Agreed_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    revised_implementation_date = models.DateField(db_column='Revised_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    last_status_update = models.DateField(db_column='Last_Status_Update', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    ageing_days = models.FloatField(db_column='Ageing__Days',max_length=10, blank=False, null=True)  # Field name made lowercase. Field renamed because it contained more than one '_' in a row.-->
<!--    actual_implementation_date = models.DateField(db_column='Actual_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    owner = models.CharField(db_column='Owner', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    final_approver = models.CharField(db_column='Final_Approver', max_length=100, blank=False, null=True)  # Field name made lowercase.-->

<!--Audit Project Code	Audit Project Name	Quarter	Audit Project Type	Issue Title-->

<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Container -->
    <div class="container mt-xl-50 mt-sm-30 mt-15">
        <!-- Title -->
        <div class="hk-pg-header align-items-top">
            <h2 class="hk-pg-title font-weight-600 mb-10">Auditing Tool</h2>
            <p>
                 {{request.user.username|upper}} Welcome to the
                <a href="#">Governance & Control.</a>
            </p>
            <div class="d-flex w-500p">

                <select class="form-control custom-select custom-select-sm mr-15">
                    {% for singleinfo in consolidateddata %}
                    <option selected="">{{ singleinfo.audit_project_name | upper}}</option>
                    {% endfor %}

                </select>
                <select class="form-control custom-select custom-select-sm mr-15">
                    {% for singleinfo in consolidateddata %}
                    <option selected="">{{ singleinfo.criticality | upper}}</option>
                    {% endfor %}
                </select>
                <select class="form-control custom-select custom-select-sm">
                    {% for singleinfo in consolidateddata %}
                    <option selected="">{{ singleinfo.quarter | upper}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row ">
            <div class="col-xl-12">
                <div class="hk-row">
                    <div class="col-sm-12">
                        <div class="card-group hk-dash-type-2">
                            <div class="card card-sm bg-dark-20 text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-white font-weight-500"
                            >Projects</span
                            >
                                        </div>
                                        <div>
                                            <span>10%</span>
                                        </div>
                                    </div>
                                    <div>
                          <span class="d-block display-4 text-red mb-5"
                          ><span class="counter-anim">{{consolidateddata|length}}</span></span
                          >
                                        <small class="d-block">Total Issues</small>
                                    </div>
                                </div>
                            </div>
                            <!--                            criticalit-->
                            <div class="card card-sm bg-dark text-white">
                                <div class="card-body ">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-green font-weight-500"
                            >Low Criticality Issues : {{lowimpactissues}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >+12.5%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">High Criticality Issues:
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-danger counter-anim">{{highimpactissues}}</span></span></small>
                                        <small class="d-block text-warning">Moderate Criticality Issues:{{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>

                            <!--                            recomendation state-->
                            <div class="card card-sm bg-dark-20 text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-danger font-weight-500"
                            >Pending Recom'n : {{PARTIALLY_IMPLEMENTED}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >{{ percentagecompleted}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-green">Closed Recom'n :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-success counter-anim">{{CLOSED}}</span></span></small>
                                        <small class="d-block">Partially Completed : {{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>


                            <!--                            ageing days-->
                            <div class="card card-sm bg-dark">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-info font-weight-500"
                            >Total Ageing Days : {{totaldays}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >{{ percentagecompleted}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">Total Ageing Days :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-info counter-anim">{{totaldays}}</span></span></small>
                                        <small class="d-block">Partially Completed : {{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">

                    <section class="hk-sec-wrapper">
                        <h5 class="hk-sec-title">Audit Projects</h5>
                        <p>Kindly  export in the format of your choosing</p><br>
                        
<!--                        <p class="mb-40">Use buttons: <code>['copy', 'csv', 'excel', 'pdf', 'print']</code> to add-->
<!--                            export table options.</p>-->
                        <div class="row">
                            <div class="col-sm">
                                <div class="table-wrap">
                                    <table id="datable_3"
                                           class="table table-hover table-responsive w-100 display pb-30">
                                        <thead>
                                        <tr>
<!-- Audit Project Code,	Audit Project Name,	Quarter,	Audit Project Type,	Issue Title, -->
                                            

                                            <th>Audit Project Code</th>
                                            <th>Audit Project Name</th>
                                            <th>Quarter</th>
                                            <th>Audit Project Type</th>
                                            <th>Issue Title</th>
                                            <th>Recommendations</th>
                                            <th>Ageing Days</th>
                                        </tr>
                                        </thead>
<!--    action_plan = models.CharField(db_column='Action_Plan', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    recommendation_state = models.CharField(db_column='Recommendation_State', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    agreed_implementation_date = models.DateField(db_column='Agreed_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    revised_implementation_date = models.DateField(db_column='Revised_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    last_status_update = models.DateField(db_column='Last_Status_Update', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    ageing_days = models.FloatField(db_column='Ageing__Days',max_length=10, blank=False, null=True)  # Field name made lowercase. Field renamed because it contained more than one '_' in a row.-->
<!--    actual_implementation_date = models.DateField(db_column='Actual_Implementation_Date', max_length=100, blank=True, null=True)  # Field name made lowercase.-->
<!--    owner = models.CharField(db_column='Owner', max_length=100, blank=False, null=True)  # Field name made lowercase.-->
<!--    final_approver = models.CharField(db_column='Final_Approver', max_length=100, blank=False, null=True)  # Field name made lowercase.-->

                                        <tbody>
                                        {% for singleinfo in consolidateddata %}
                                        <tr>
                                            <td><a href="{% url 'governcontrolprojectsdetails' singleinfo.id %}">{{singleinfo.audit_project_code}}</a></td>
                                            <td><a href="#">{{singleinfo.audit_project_name}}</a></td>
                                            <td><a href="#">{{singleinfo.quarter}}</a></td>
                                            <td><a href="#">{{singleinfo.audit_project_type}}</a></td>
                                            <td><a href="#">{{singleinfo.issue_title}}</a></td>
                                            <td><a href="#">{{singleinfo.recommendation}}</a></td>
                                            <td><a href="#">{{singleinfo.ageing_days}}</a></td>
                                            


                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                        <tfoot>
                                        <tr>
                                              <th>Audit Project Code</th>
                                            <th>Audit Project Name</th>
                                            <th>Quarter</th>
                                            <th>Audit Project Type</th>
                                            <th>Issue Title</th>
                                            <th>Recommendations</th>
                                            <th>Ageing Days</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->

        </div>
        <!-- /Main Content -->
        {% include 'verticalnavbar.html' %}

        {% endblock %}

