{% extends 'base.html' %}
{% block content %}
{% load static %}


{% include 'topnavbar.html' %}
{% include 'verticalnavbar.html' %}
{% include 'settings.html' %}


<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Container -->
    <div class="container mt-xl-50 mt-sm-30 mt-15">
        <!-- Title -->
        <div class="hk-pg-header align-items-top">
            <div>
                <h2 class="hk-pg-title font-weight-600 mb-10">Welcome !</h2>
                <p>below is information concerning your account? <a href="/employee/{{person.id}}/">Learn more.</a></p>
            </div>
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row">
            <div class="col-xl-12">

                <div class="hk-row">
                    <div class="col-lg-4">
                        <a href="/employee/{{person.id}}/">
                            <div class="card overflow-hide border-0">
                                <div class="card-body pa-0">
                                    <div class="">
                                        <div class="fadeOut item img-background overlay-wrap"
                                             style="background-image:url({{ person.photo.url }});">
                                            <div class="position-relative z-index-2 pa-20">
                                                <div class="position-relative text-white mnh-225p">
                                                    <div class="media position-absolute b-0 l-0 align-items-center">
                                                        <div class="media-img-wrap d-flex mr-15">
                                                            <div class="avatar avatar-sm">
                                                            <span class="avatar-text avatar-text-inv-success rounded-circle"><span
                                                                    class="initial-wrap"><span>{{ person.last_name|make_list|first}}{{ person.first_name|make_list|first}}</span></span></span>
                                                            </div>
                                                        </div>
                                                        <div class="media-body">
                                                            <span class="d-block font-14 font-weight-500">{{ person.last_name }} {{ person.first_name }}</span>
                                                            <span class="d-block font-12">{{ person.personsdept }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-overlay bg-trans-dark-50"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="card">
                            <div class="card-header card-header-action">
                                <h6>Recent Activity</h6>
                                <div class="d-flex align-items-center card-action-wrap">
                                    <div class="inline-block dropdown">
                                        <a class="dropdown-toggle no-caret" data-toggle="dropdown" href="#"
                                           aria-expanded="false" role="button"><i class="ion ion-ios-more"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Separated link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="user-activity user-activity-sm">
                                    <div class="media">
                                        <div class="media-img-wrap">
                                            <div class="avatar avatar-xs">
                                                <img src="dist/img/avatar2.jpg" alt="user"
                                                     class="avatar-img rounded-circle">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                <span class="d-block mb-5"><span
                                                        class="font-weight-500 text-dark text-capitalize">Laura Thompson</span><span
                                                        class="pl-5">joined josh groben team.</span></span>
                                                <span class="d-block font-13">3 hours ago</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-img-wrap">
                                            <div class="avatar avatar-xs">
                                                <img src="dist/img/avatar3.jpg" alt="user"
                                                     class="avatar-img rounded-circle">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                <span class="d-block mb-5"><span
                                                        class="font-weight-500 text-dark text-capitalize">Meayme Fletcher</span><span
                                                        class="pl-5">liked photos</span></span>
                                                <span class="d-block font-13 mb-10">6 hours ago</span>
                                            </div>
                                            <div class="d-flex">
                                                <a href="#" class="w-75p mr-10"><img class="card-img-top rounded"
                                                                                     src="dist/img/slide1.jpg"
                                                                                     alt="Card image cap"></a>
                                                <a href="#" class="w-75p mr-10"><img class="card-img-top rounded"
                                                                                     src="dist/img/slide2.jpg"
                                                                                     alt="Card image cap"></a>
                                                <a href="#" class="w-75p mr-10"><img class="card-img-top rounded"
                                                                                     src="dist/img/slide3.jpg"
                                                                                     alt="Card image cap"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-img-wrap">
                                            <div class="avatar avatar-xs">
														<span class="avatar-text avatar-text-info rounded-circle">
																<span class="initial-wrap"><span>B</span></span>
														</span>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div>
                                                <span class="d-block mb-5"><span
                                                        class="font-weight-500 text-dark text-capitalize">Billy Flowers</span><span
                                                        class="pl-5">Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text.</span></span>
                                                <span class="d-block font-13">3 days ago</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header card-header-action">
                                <h6>Your Rating</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center h-100 justify-content-center text-center">
                                            <div>
                                                <div class="d-flex align-items-center  justify-content-center text-dark">
                                                    <span class="counter-anim display-2 {% if  my_rating <= 4 %} text-danger {% elif  my_rating >= 5 and my_rating <= 7 %}  text-warning {% elif  my_rating >= 8 and my_rating <= 10 %} text-success {% endif %} ">{{my_rating}}</span>
                                                    <span class="review-star starred ml-10">
																<span class="feather-icon"><i
                                                                        data-feather="star"></i></span>
															</span>
                                                </div>
                                                <span class="font-18"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="d-flex align-items-center h-100 justify-content-center text-center">


                                                <div class="pa-15">
                                                <span class="d-block display-6 text-dark mb-5">
                                                    <span class="badge
                                            {% if person.personsdept.criticality == 'low'  %}
                                            badge-success
                                            {% elif person.personsdept.criticality == 'medium' %}
                                            badge-warning
                                            {% else %}
                                            badge-danger
                                            {% endif %}
                                            ">{{ person.personsdept.criticality }} Criticality</span>

                                                </span>
                                                    <span class="d-block text-capitalize font-14">{{ person.personsdept }} Department </span>
                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-refresh">
                            <div class="refresh-container">
                                <div class="loader-pendulums"></div>
                            </div>
                            <div class="card-header card-header-action">
                                <h6>Ratings per person</h6>

                            </div>
                            <div class="card-body">
                                <canvas id="bar_chart_status"></canvas>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body pa-0">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <div class="custom-control custom-checkbox checkbox-primary">

                                                        <label class="">Name
                                                            </label>
                                                    </div>
                                                </th>
                                            <th>Criticality</th>
                                            <th>R't Cause</th>
                                            <th>Recom'n</th>
                                            <th>Recom'n State</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                        {% for singleinfo in consolidateddata %}
                                        <tr>
                                            <td><a href="#">{{singleinfo.audit_project_name}}</a></td>

                                            <td>{{singleinfo.criticality}}</td>
                                            <td>{{singleinfo.root_cause_analysis}}</td>
                                            <td>{{singleinfo.recommendation}}</td>
                                            <td>{{singleinfo.recommendation_state}}</td>


                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <h3>Other Employees . . .
                </h3><br/>
                <div class="hk-row">
                    {% for x in people %}
                    <div class="col-lg-3">
                        <a href="/employee/{{x.id}}/">
                            <div class="card overflow-hide border-0">
                                <div class="card-body pa-0">
                                    <div class="">
                                        <div class="fadeOut item img-background overlay-wrap"
                                             style="background-image:url({{ x.photo.url }});">
                                            <div class="position-relative z-index-2 pa-20">
                                                <div class="position-relative text-white mnh-225p">
                                                    <p>{% if x.gender == 'male' %}Mr.{% elif x.gender == 'female'%}Ms.{% endif %}
                                                        {{x.name_user}} works in the department of {{x.personsdept}}.
                                                        Hails from {{x.address}} </p>
                                                    <div class="media position-absolute b-0 l-0 align-items-center">
                                                        <div class="media-img-wrap d-flex mr-15">
                                                            <div class="avatar avatar-sm">
                                                            <span class="avatar-text avatar-text-inv-success rounded-circle"><span
                                                                    class="initial-wrap"><span>{{ x.last_name|make_list|first}}{{ x.first_name|make_list|first}}</span></span></span>
                                                            </div>
                                                        </div>
                                                        <div class="media-body">
                                                            <span class="d-block font-14 font-weight-500">{{ x.last_name }} {{ x.first_name }}</span>
                                                            <span class="d-block font-12">{{ x.personsdept }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bg-overlay bg-trans-dark-50"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
<section>

        <div class="row">
                                <div class="col-sm">
                                    <div id="owl_demo_4" class="owl-carousel owl-theme">
                                        <div class="item">
                                            <div class="card">
                                                <img class="card-img-top" src="dist/img/slide1.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="card">
                                                <img class="card-img-top" src="dist/img/slide2.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="card">
                                                <img class="card-img-top" src="dist/img/slide3.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="card">
                                                <img class="card-img-top" src="dist/img/slide4.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</section>


    </div>
    <!-- /Row -->
</div>
<!-- /Container -->


</div>
<!-- /HK Wrapper -->

<script>

    var config_status ={
      type: 'doughnut',
      data: {
        datasets: [{
          data: [{% for i in ratings %}{{i}},{% endfor %}],
          backgroundColor: [{% for i in rating_range %}'#0C'+{{9}}+{{i}}+{{4}}+'C',{% endfor %}
            '#FF5733'
          ],
          label: 'Ratings'
        }],
        labels: [{% for i in label %}"{{i}}",{% endfor %}]
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx_status = document.getElementById('bar_chart_status').getContext('2d');
      window.myPie = new Chart(ctx_status, config_status);

    };





</script>

{% endblock %}

