{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'topnavbar.html' %}
{% include 'verticalnavbar.html' %}
{% include 'settings.html' %}

<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Container -->
    <div class="container mt-xl-50 mt-sm-30 mt-15">
        <!-- Title -->
        <div class="hk-pg-header align-items-top">
            <h2 class="hk-pg-title font-weight-600 mb-10">Employees</h2>
            <p>
                {{request.user.username|upper}} Welcome to the
                <a href="#">Practices Section.</a>
            </p>
            <div class="d-flex w-500p">

                <select class="form-control custom-select custom-select-sm mr-15">
                    {% for singleinfo in consolidateddata %}
                    <option selected="">{{ singleinfo.current_status_at_xy | upper}}</option>
                    {% endfor %}

                </select>
                <select class="form-control custom-select custom-select-sm mr-15">
                    {% for singleinfo in consolidateddata %}
                    <option selected="">{{ singleinfo.recommendation_state | upper}}</option>
                    {% endfor %}
                </select>
                <select class="form-control custom-select custom-select-sm">
                    {% for singleinfo in consolidateddata %}
                    <option selected="">{{ singleinfo.final_approver | upper}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row ">
            <section class="col-xl-12">
                <div class="hk-row">
                    <div class="col-sm-12">
                        <div class="card-group hk-dash-type-2 ">
                            <div class="card card-sm bg-dark text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span class="d-block font-15 text-white font-weight-500">
                                Internal Audit Practices</span>
                                        </div>
                                        <div>
                                            <span>{{""}}</span>
                                        </div>
                                    </div>
                                    <div>
                          <span class="d-block display-4 text-white mb-5">
                              <span class="counter-anim">{{consolidateddata|length}}</span>
                          </span>
                                        <small class="d-block">IIA Standards : {{consolidateddata|length}}</small>
                                    </div>
                                </div>
                            </div>
                            <!--                            criticalit-->
                            <div class="card card-sm bg-dark text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-warning font-weight-500"
                            >Partially Impl'd Practices : {{lowimpactissues}}</span
                            >
                                        </div>
                                        <div>
                                            <span class="text-success font-14 font-weight-500">{{""}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-white">Closed & Impl'd Practices:
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-white counter-anim">{{highimpactissues}}</span></span></small>
                                        <small class="d-block text-danger">Pending
                                            Practices:{{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>

                            <!--                            recomendation state-->
                            <div class="card card-sm bg-dark text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-danger font-weight-500"
                            >Pending Recom'n : {{PENDING}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >{{ percentagecompleted}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-white">Closed Recom'n :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-white counter-anim">{{CLOSED}}</span></span></small>
                                        <small class="d-block text-warning">Partially Completed Recom'n:
                                            {{PARTIALLY_IMPLEMENTED}} </small>
                                    </div>
                                </div>
                            </div>


                            <!--                            ageing days-->
                            <div class="card card-sm bg-dark text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-yellow font-weight-500"
                            >Total Ageing Days : {{totaldays}}</span
                            >
                                        </div>
                                        <div>
                            <span class="text-success font-14 font-weight-500"
                            >{{ percentagecompleted}}%</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">Total Ageing Days :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-info counter-anim">{{totaldays}}</span></span></small>
                                        <small class="d-block">Partially Completed : {{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="hk-sec-wrapper">
                    <h5 class="hk-sec-title">Employee</h5>

                    <div class="row">
                        <div class="col-sm">
                            <div class="table-wrap">
                                <table id="datable_3" class="table table-success table-hover w-100 display pb-30">
                                    <thead class="thead-success">
                                    <tr>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Department</th>
                                        <th>Address</th>
                                        <th>Username</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for person in people %}
                                    <tr>
                                        <td><a href="#">{{ person.first_name }} {{ person.last_name }}</a></td>
                                        <td>{{ person.gender|title }}</td>
                                        <td><span class="badge
                                            {% if person.personsdept.criticality == 'low'  %}
                                            badge-success
                                            {% elif person.personsdept.criticality == 'medium' %}
                                            badge-warning
                                            {% else %}
                                            badge-danger
                                            {% endif %}
                                            ">{{person.personsdept}}</span></td>
                                        <td>{{ person.address }}</td>
                                        <td>{{ person.name_user }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <!-- /Row -->
                    </div>
                </section>
                <!-- /Container -->

        </div>
        <!-- /Main Content -->
        {% include 'verticalnavbar.html' %}

        {% endblock %}

