{% load static %}

{% load crispy_forms_tags %}
<html>
<head>
    <!--    <title>{% block title %}{% endblock %}</title>-->

    <!--    title-->
    <title>Auditing Tool</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'dist/img/mg.png' %}">
    <link rel="icon" href="{% static 'dist/img/mg.png' %}" type="image/x-icon">


    <!-- vector map CSS -->
    <link href="{% static 'vendors/vectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Toggles CSS -->
    <link href="{% static 'vendors/jquery-toggles/css/toggles.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css'%}" rel="stylesheet" type="text/css">

    <!-- Toastr CSS -->
    <!--    <link href="{% static 'vendors/jquery-toast-plugin/dist/jquery.toast.min.css'%}" rel="stylesheet" type="text/css">-->

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">


    <!-- Data Table CSS -->
    <link href="{% static 'vendors/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'vendors/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet"
          type="text/css"/>

    <!-- Tablesaw table CSS -->
    <link
            href="{% static 'vendors/tablesaw/dist/tablesaw.css' %}"
            rel="stylesheet"
            type="text/css"
    />

    <!-- Toggles CSS -->
    <link
            href="{% static 'vendors/jquery-toggles/css/toggles.css' %}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="{% static 'vendors/jquery-toggles/css/themes/toggles-light.css' %}"
            rel="stylesheet"
            type="text/css"
    />

    <!-- Calendar CSS -->
    <link href="{% static 'vendors/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Daterangepicker CSS -->
    <link href="{% static 'vendors/daterangepicker/daterangepicker.css" rel="stylesheet' %}" type="text/css"/>


    <!-- Custom CSS -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<!-- HK Wrapper -->
<div class="hk-wrapper">
    <!-- Main Content -->
    <div class="hk-pg-wrapper hk-auth-wrapper">
        <header class="d-flex justify-content-between align-items-center">
            <a class="d-flex auth-brand" href="#">
                <img class="brand-img" src=" {% static 'dist/img/logo-dark.png' %} " alt="brand"/>
            </a>
            <div class="btn-group btn-group-sm">
                <a href="#" class="btn btn-outline-secondary">Help</a>
                <a href="#" class="btn btn-outline-secondary">About Us</a>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 pa-0 overlay-wrap">
                    <div class="auth-cover-img " style="background-image:url('/static/images/doreen.jpg');">
                        <div class="auth-cover-info py-xl-0 pt-100 pb-50">
                            <div class="auth-cover-content w-xxl-75 w-sm-90 w-100">
                                <h1 class="display-3 text-white mb-20">Enjoy unlimited beautiful display content
                                    area</h1>
                                <p class="text-white">The passage experienced a surge in popularity during the 1960s
                                    when
                                    Letraset used it on their dry-transfer sheets, and again during the 90s as desktop
                                    publishers bundled the text with their software.</p>
                                <div class="play-wrap">
                                    <a class="play-btn" href="#"></a>
                                    <span>How it works ?</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-overlay bg-trans-dark-50"></div>
                    </div>
                </div>
                <div class="col-xl-7 pa-0">
                    <div class="auth-form-wrap py-xl-0 py-50">
                        <div class="auth-form w-xxl-55 w-xl-90 w-sm-100 w-100">
                            <form class="col-lg-12" method="POST" enctype="multipart/form-data" action="">
                                {% csrf_token %}
                                <h1 class="display-4 mb-10">Set up a profile for free</h1>
                                <p class="mb-30">Create your profile and start today</p>
                                <div class="row">
                                    {% for field in form %}
                                    <div class="col-md-4 form-group">
                                        {{ field|as_crispy_field }}
                                    </div>
                                    {% endfor %}
                                </div>

                                <button class="btn btn-primary btn-block" type="submit">Set Profile</button>
                                <div class="option-sep">or</div>
                                <!--                                social logins-->
                                <div class="form-row">
                                    <div class="col-sm-6 mb-20">
                                        <button class="btn btn-indigo btn-block btn-wth-icon"><span
                                                class="icon-label"><i
                                                class="fa fa-facebook"></i> </span><span class="btn-text">Login with facebook</span>
                                        </button>
                                    </div>
                                    <div class="col-sm-6 mb-20">
                                        <button class="btn btn-red btn-block btn-wth-icon"><span class="icon-label"><i
                                                class="fa fa-google"></i> </span><span
                                                class="btn-text">Login with Gmail</span></button>
                                    </div>
                                </div>
                                <p class="text-center">Already have an account? <a href="#">Sign In</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Content -->

</div>
