{% extends 'base.html' %}
{% block content %}


{% include 'topnavbar.html' %}
{% include 'verticalnavbar.html' %}
{% include 'settings.html' %}

<!-- Main Content -->
<div class="hk-pg-wrapper">
    <!-- Container -->
    <div class="container mt-xl-50 mt-sm-30 mt-15">
        <!-- Title -->
        <div class="hk-pg-header align-items-top">
            <h2 class="hk-pg-title font-weight-600 mb-10">Auditors Of Auditors</h2>
            <p>
                {{request.user.username|upper}} Welcome to the
                <a href="#">Auditor Of Auditors Practices Section.</a>
            </p>
        </div>
        <!-- /Title -->

        <!-- Row -->
        <div class="row ">
            <div class="col-xl-12">
                <div class="hk-row">
                    <div class="col-sm-12">
                        <div class="card-group hk-dash-type-2 ">
                            <div class="card card-sm bg-dark text-white">
                                <div class="card-body" >
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span  class="d-block font-15 text-white font-weight-500">
                                Internal Audit Practices</span>
                                        </div>
                                        <div>
                                            <span>{{""}}</span>
                                        </div>
                                    </div>
                                    <div>
                          <span class="d-block display-4 text-white mb-5">
                              <span class="counter-anim">{{consolidateddata|length}}</span>
                          </span>
                                        <small class="d-block">IIA Standards : {{consolidateddata|length}}</small>
                                    </div>
                                </div>
                            </div>
                            <!--                            criticalit-->
                            <div class="card card-sm bg-dark text-warning">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-warning font-weight-500"
                            >Partially Impl'd Practices : {{lowimpactissues}}</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-success">Closed & Impl'd Practices:
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-success counter-anim">{{highimpactissues}}</span></span></small>
                                        <small class="d-block text-danger">Pending Practices:{{mediumimpactissues}} </small>
                                    </div>
                                </div>
                            </div>

                            <!--                            recomendation state-->
                            <div class="card card-sm bg-dark text-white">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-danger font-weight-500"
                            >Pending Recom'n : {{PENDING}}</span
                            >
                                        </div>
                                    </div>
                                    <div>
                                        <small class="text-success">Closed Recom'n :
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-white counter-anim">{{CLOSED}}</span></span></small>
                                        <small class="d-block text-warning">Partially Completed Recom'n: {{PARTIALLY_IMPLEMENTED}} </small>
                                    </div>
                                </div>
                            </div>


                            <!--                            ageing days-->
                            <div class="card card-sm bg-dark">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-5">
                                        <div>
                            <span
                                    class="d-block font-15 text-info font-weight-500"
                            >Total Ageing Days : {{totaldays}}</span
                            >
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                    <div>
                                        <small class="">
                                            <span class="d-block display-4 text-dark mb-5">
                                            <span class="text-info counter-anim">{{totaldays}}</span></span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <section class="hk-sec-wrapper">
                        <h5 class="hk-sec-title">Audit Projects</h5>
                        <!--                        <p>Recom'n : Recommendation</p>-->
                        <!--                        <p>Act'n : Action</p>-->
                        <!--                        <p>Impl'n : Implementation</p>-->
                        <!--                        <p>R't : Action</p><br>-->
                        <div class="row">
                            <div class="col-sm">
                                <div class="table-wrap">
                                    <table id="datable_3"
                                           class="table table-hover table-responsive w-100 display pb-30">
                                        <thead>
                                        <tr>
                                            <th>IA_Practices</th>
                                            <th>IA_Standards</th>
                                            <th>Currentt Status</th>
                                            <th>Assess't</th>
                                            <th>Recom'n</th>
                                            <th>Action Plan</th>
                                            <th>Recommendation State</th>
                                            <th>Ageing Days</th>
                                            <th>Owner</th>
                                            <th>Final Approver</th>
                                            <th>Agreed Implementation Date</th>
                                            <th>Revised Implementation Date</th>
                                            <th>Last Status Update</th>
                                            <th>Actual Implementation Date</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for singleinfo in consolidateddata %}
                                        <tr>
                                            <td>
                                                <a href="/auditor_of_auditors/{{singleinfo.id}}">
                                                    {{singleinfo.internal_audit_leading_practices|truncatechars:40}}
                                                </a>
                                            </td>
                                            <td>{{singleinfo.iia_standards|truncatechars:40}}</td>
                                            <td>{{singleinfo.current_status_at_xy}}</td>
                                            <td>{{singleinfo.assessment|truncatechars:40}}</td>
                                            <td>{{singleinfo.recommendations|truncatechars:40}}</td>
                                            <td>{{singleinfo.action_plan|truncatechars:40}}</td>
                                            <td>{{singleinfo.recommendation_state}}</td>
                                            <td>{{singleinfo.ageing_days}}</td>
                                            <td>{{singleinfo.owner}}</td>
                                            <td>{{singleinfo.final_approver}}</td>
                                            <td>{{singleinfo.agreed_implementation_date}}</td>
                                            <td>{{singleinfo.revised_implementation_date}}</td>
                                            <td>{{singleinfo.last_status_update}}</td>
                                            <td>{{singleinfo.actual_implementation_date}}</td>


                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </section>

                </div>
                <!-- /Row -->
            </div>
            <!-- /Container -->

        </div>
        <!-- /Main Content -->
        {% include 'verticalnavbar.html' %}

        {% endblock %}

